{% extends "layout.html" %}
{% block body %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/about-bg.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>About Us</h1>
              <span class="subheading">This is what we do.</span>
            </div>
          </div>
        </div>
      </div>
    </header>
  <!--  <img src="/img/Rahi.png" width="500px" height="150px" class="rahilogo"> -->
    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Hello All, Welcome to our rahi plateform. We created this blog site to share knowledge, your best life experiances, your thoughts and many more, by sharing your best be a part of rahi team. We believe that Sharing your idea you care about is a generous way to change your world for better. Share your opinion with those who appriciate your views.</p>
          <p>This plateform is created by rahi team. Special thanks to all rahi team members. We provide web service and other IT solution. To stay in contact with us you can mail us directly in contact section. Hope you enjoy sharing. </p>
          <p>Also,Feel free to share your opinions about us. For more question answer ask me anything threw instagram account Link-<a href='https://www.instagram.com/nish_.2001'>'https://www.instagram.com/nish_.2001'</a>. Visit our other web sites link1-<a href='https://climeforecast.herokuapp.com/'>'https://climeforecast.herokuapp.com/'</a> </p>
        </div>
      </div>
    </div>

   {% endblock %}
